/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}